@font-face {
  font-family: "iconfont"; /* Project id 163100 */
  src: url('iconfont.woff2?t=1655120833949') format('woff2'),
       url('iconfont.woff?t=1655120833949') format('woff'),
       url('iconfont.ttf?t=1655120833949') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-quote2:before {
  content: "\e6b2";
}

.icon-icon:before {
  content: "\e60f";
}

.icon-user:before {
  content: "\e6a0";
}

.icon-tag-solid:before {
  content: "\e734";
}

.icon-mark:before {
  content: "\e62b";
}

.icon-tag1:before {
  content: "\e62c";
}

.icon-setting:before {
  content: "\e64b";
}

.icon-new:before {
  content: "\e667";
}

.icon-infenicon17:before {
  content: "\e7b0";
}

.icon-danxuan:before {
  content: "\e71f";
}

.icon-guanbi1:before {
  content: "\e723";
}

.icon-guanbi2:before {
  content: "\e725";
}

.icon-jiahao:before {
  content: "\e726";
}

.icon-jiahao1:before {
  content: "\e727";
}

.icon-jianhao:before {
  content: "\e729";
}

.icon-tishi:before {
  content: "\e72b";
}

.icon-wenhao:before {
  content: "\e72d";
}

.icon-xuanze:before {
  content: "\e72e";
}

.icon-yuanxingweixuanzhong:before {
  content: "\e72f";
}

.icon-yuanxingxuanzhong:before {
  content: "\e731";
}

.icon-biaoxing:before {
  content: "\e733";
}

.icon-fankui:before {
  content: "\e738";
}

.icon-fenxiang:before {
  content: "\e739";
}

.icon-gengduo:before {
  content: "\e73a";
}

.icon-liuyan:before {
  content: "\e744";
}

.icon-saoma:before {
  content: "\e749";
}

.icon-shaixuan:before {
  content: "\e74a";
}

.icon-shanchu:before {
  content: "\e74b";
}

.icon-shezhi:before {
  content: "\e74c";
}

.icon-shizhong:before {
  content: "\e74f";
}

.icon-shouye:before {
  content: "\e751";
}

.icon-sousuo:before {
  content: "\e752";
}

.icon-sousuoleimu:before {
  content: "\e754";
}

.icon-xihuan:before {
  content: "\e761";
}

.icon-zuobiao:before {
  content: "\e769";
}

.icon-dibu:before {
  content: "\e76a";
}

.icon-dingbu:before {
  content: "\e76c";
}

.icon-xiangshang2:before {
  content: "\e76e";
}

.icon-xiangshang5:before {
  content: "\e770";
}

.icon-xiangxia2:before {
  content: "\e772";
}

.icon-xiangxia3:before {
  content: "\e773";
}

.icon-xiangxia5:before {
  content: "\e774";
}

.icon-xiangyou1:before {
  content: "\e775";
}

.icon-xiangyou2:before {
  content: "\e776";
}

.icon-xiangzuo1:before {
  content: "\e779";
}

.icon-xiangzuo2:before {
  content: "\e77a";
}

.icon-xiangji1:before {
  content: "\e77f";
}

.icon-shuaxin:before {
  content: "\e782";
}

.icon-classify:before {
  content: "\e78e";
}

.icon-menu:before {
  content: "\e790";
}

.icon-qrcode:before {
  content: "\e642";
}

.icon-saveas:before {
  content: "\e666";
}

.icon-others:before {
  content: "\e7bc";
}

