.blockquote {
    color: #525c7c;
    background-color: #fff;
    -webkit-box-shadow: 0 10px 30px 0 rgb(20 3 67 / 8%);
    box-shadow: 0 10px 30px 0 rgb(20 3 67 / 8%);
    border-radius: 6px;
    padding: 40px 40px 22px!important;
    position: relative;
    overflow: hidden;
    border-left: 6px solid #5e2ced;
    z-index: 0;
    margin: 1.25rem 0 1.25rem;
    overflow-wrap: break-word;
}

.blockquote:before {
    content: "”";
    font-size: 100px;
    position: absolute;
    top: 0;
    height: 50px;
    line-height: 1;
    color: #5e2ced;
    display: inline-block;
    font-family: 'iconfont';
    font-weight: 900;
    transform: rotate(180deg);
}
.blockquote:after{
    content: "”";
    font-family: 'iconfont';
    font-weight: 900;
    position: absolute;
    right: 30px;
    height: 50px;
    line-height: 1;
    bottom: 0;
    /* top: 50%; */
    color: #f2effd;
    font-size: 100px;
    z-index: -1;
}